<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>用户列表</title>
    <!-- <link href="css/tables.css" rel="stylesheet" /> -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div>
        <table class="table table-bordered table-hover table-condensed">
            <tr>
                <th>序号</th>
                <th>头像</th>
                <th>用户名</th>
                <th>密码</th>
                <th colspan="2">操作</th>
            </tr>
            <% for(var i = 0; i < userLists.length; i++)  {%>
            <tr>
                <td>
                    <%= userLists[i].id %>
                </td>
                <td>
                    <% if( userLists[i].headerurl ){ %>
                    <img src="<%= userLists[i].headerurl %>" width="60px" height="60px" class="img-circle" />
                    <% }else{ %>
                    <img src="images/y.jpg" width="60px" height="60px" class="img-circle" />
                    <% } %>
                </td>
                <td>
                    <%= userLists[i].username %>
                </td>
                <td>
                    <%= userLists[i].password %>
                </td>
                <td><a class="btn btn-primary" href="delete.do?uid=<%= userLists[i].id  %>">删除</a></td>
                <td><a class="btn btn-primary" href="find.do?uid=<%= userLists[i].id  %>">修改</a></td>
                <!-- <td><a href="update/<%= userLists[i].id  %>">修改</a></td>    接收参数据url写法 /update/:uid -->
            </tr>
            <%}%>

        </table>

        <div style="width:900px;margin: 0 auto;">
            <ul class="pagination" id="pagination"></ul>
        </div>
    </div>
    <script src="js/jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jqPaginator.js"></script>
    <script type="text/javascript">
        var currentNo = '<%= currentPage %>';
        currentNo = parseInt(currentNo);
        var pageCount = ' <%= pageCount %> ';
        pageCount = parseInt(pageCount);

        $.jqPaginator('#pagination', {
            totalPages: pageCount,
            visiblePages: 2,
            currentPage: currentNo,
            first: '<li class="first"><a href="javascript:void(0);">首页</a></li>',
            prev: '<li class="prev"><a href="javascript:;">前一页</a></li>',
            next: '<li class="next"><a href="javascript:void(0);">下一页</a></li>',
            last: '<li class="last"><a href="javascript:void(0);">尾页</a></li>',
            page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
            onPageChange: function (num, type) {
                if (type == 'change') {
                    //这里是点击分页的回调
                    window.location.href = 'list.do?pageNo=' + num;
                }
            }
        });
    </script>

    <!-- <div>
            <a onclick="first()" href="#">首页</a>
            <a onclick="previousPage()" href="#">上一页</a>
            <a onclick="next()" href="#">下一页</a>
            <a onclick="lastPage()" href="#">尾页</a>
        </div>

        <script>
            //首页
            function first() {
                window.location.href = 'list.do?pageNo=1';
            }
            //下一页
            function next() {
                var currentPage = '<%= currentPage %>';
                var pageCount = ' <%= pageCount %> ';
                if (++currentPage > pageCount) {
                    alert('已经到尾页');
                    return;
                }
                window.location.href = 'list.do?pageNo=' + currentPage;
            }

            // 上一页
            function previousPage() {
                var currentPage = '<%= currentPage %>';
                if (--currentPage == 0) {
                    alert("已经到第一页");
                    currentPage = 1;
                    return;
                }
                window.location.href = 'list.do?pageNo=' + currentPage;
            }

            // 尾页
            function lastPage() {
                var pageCount = '<%= pageCount %> ';
                window.location.href = 'list.do?pageNo=' + pageCount;
            }
        </script> -->


</body>

</html>