<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>添加客户</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        /* table {
            background-color: #CCCCCC;
            border: 1px;
            width: 100%;
        }

        table tr {
            height: 20px;
        }

        table tr div {
            text-align: right;
        }

        td font {
            color: red;
        }

        .mylable {
            color: red;
            font-size: 12px;
        } */
    </style>


</head>

<body>
    <div style="width: 400px;">
        <form role="form" name="client_form" action="/add.do" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>用户类型</label>
                <select name='typeid' class="form-control">
                    <% for(var i =0; i < types.length; i++) {%>
                    <option value="<%= types[i].tid %>">
                        <%= types[i].tname %>
                    </option>
                    <% } %>

                </select>
            </div>

            <div class="form-group">
                <label>姓名:</label>
                <input id="clientname" type="text" name="clientname" value="" size="30" class="form-control">
            </div>

            <div class="form-group">
                <label>密码:</label>
                <input id="password" type="password" name="password" value="" size="30" class="form-control">
            </div>

            <div class="form-group">
                <label>头像:</label>
                <input type="file" name="headerimg" value="" size="30" class="form-control">
            </div>

            <input type="submit" value="提交" class="btn btn-default">
            <input type="reset" value="重置" class="btn btn-default">
        </form>
    </div>

    <div>


        <script src="js/jquery.js" type="text/javascript"></script>
        <!-- <script src="js/myajax.js" type="text/javascript"></script> -->
        <script>
            $('#clientname').blur(function () {
                $.ajax({
                    url: '/checkUser.do',
                    type: 'post',
                    data: 'username=' + $(this).val(),
                    dataType: "json", //预期的服务器响应的数据类型;  json  |  html/text
                    success: function (result) {
                        $('#msg').empty();
                        if (result.code === 1) {
                            $('#clientname').after(
                                '<span id="msg" style="color:red; font-size:14px">' +
                                result.msg + '</span>');
                        }
                    },
                    error: function (xhr, status, error) { //如果请求失败要运行的函数。
                        alert(error + "  " + status);
                    }
                });
            });

            // ajax 原生调用,需引入myajax.js

            // var tdElement = document.getElementById('boxtd');
            // var nameElement = document.getElementById('clientname');
            // nameElement.onblur = function () {
            //     ajax({
            //         method: 'post',
            //         url: '/checkUser.do',
            //         content: 'username=' + nameElement.value,
            //         success: function (data) {
            //             console.log(data);
            //             var json = JSON.parse(data);
            //             //判断tdElement最后一个元素的前一个元素节点名称是否是SPAN,如果是SPAN将其移除
            //             if (tdElement.lastChild.previousSibling.nodeName == 'SPAN') {
            //                 tdElement.removeChild(tdElement.lastChild.previousSibling); //移除tdElement最后一个元素的前一个元素节点,即新添加的元素节点
            //             }
            //             if (json.code === 1) {
            //                 var newSpan = document.createElement('span'); //创建新节点 span
            //                 newSpan.innerHTML = json.msg; // 给新节点添加内容
            //                 tdElement.insertBefore(newSpan, nameElement.nextSibling); //在tdElement元素节点下，nameElement节点后一个元素前插入新节点newSpan,
            //             }
            //         }

            //     });
            // }
        </script>
</body>

</html>